<section class="regular medium">

  <h1 class="cursive">The Wedding Party</h1>
  <h2>Bridal Party</h2>
  <h3>Janet Do - Matron of Honor</h3><br>
  <div class="party-sections">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "janet.jpg", {class: "polaroid-picture"} %>
            Janet Do
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "janet_helen.jpg", {class: "polaroid-picture"} %>
            Best Bros
          </div>
        </div>
      </div>
    </div>
    <div class="party-text fl-lf">
      <p>
        Janet is my favorite (and only) sister!  We've fought with each other, laughed together and shared many memories together.  They say imitation is the sincerest form of flattery.  In that case Janet should be extremely flattered!  Growing up I looked up to Janet and tried to emulate everything she did, such as putting on make-up and picking out clothes to wear.  I love her very much and am so glad to have her as my sister and maid of honor.
      </p>
    </div>
  </div>
  <h3>Joyce Young</h3><br>
  <div class="party-sections">
    <div class="party-text fl-lf">
      <p>
        Joyce and I have been friends since freshman year of high school.  Even when she moved to a different high school, we remained friends and wrote letters to each other telling each other about our lives.  We used to talk about being each others bridesmaids when we got older and I had the honor of being Joyce's bridesmaid 2 years ago.  I'm so excited to honor our pact and have her as one of my bridesmaids.
      </p>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "joyce.jpg", {class: "polaroid-picture"} %>
            Joyce Young
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "joyce_helen.jpg", {class: "polaroid-picture"} %>
            Jiggly Joyce
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Susan Hui-Ping Terrell</h3><br>
  <div class="party-sections">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "susan.jpg", {class: "polaroid-picture"} %>
            Susan Hui-Ping Terrell
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "susan_helen.jpg", {class: "polaroid-picture"} %>
            Hui-Ping
          </div>
        </div>
      </div>
    </div>
    <div class="party-text fl-lf">
      <p>
        Susan was one of my roomates in college when we used to live in a house full of dirty boys!  She was my best friend in college and partner in crime.  We used to go on runs, play basketball, tennis and she even gave me rides on her motorcycle!  Susan is one of the most generous, caring and thoughtful people I know and I'm so blessed to have her as a friend.
      </p>
    </div>
  </div>
  <h3>Robyn Chung</h3><br>
  <div class="party-sections">
    <div class="party-text fl-lf">
      <p>
        Robyn is my ISFJ Twin!  Robyn and I met in college when we played intramural volleyball.  We both eventually moved to San Francisco and since then have become great friends.  The reason Robyn and I get along so well is we have so much in common.  We love volleyball, Rebecca Minkoff sample sales, fantasy football and playing with our adorable dogs!  I'm honored to have Robyn as one my bridesmaids and closest friend.
      </p>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "robyn.jpg", {class: "polaroid-picture"} %>
            Robyn Chung
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "robyn_helen.jpg", {class: "polaroid-picture"} %>
            iB2
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Maria Sakata</h3><br>
  <div class="party-sections">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "maria.jpg", {class: "polaroid-picture"} %>
            Maria Sakata
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "maria_helen.jpg", {class: "polaroid-picture"} %>
            SakataBomb!
          </div>
        </div>
      </div>
    </div>
    <div class="party-text fl-lf">
      <p>
        I met Maria while attending UC Irvine playing intramural volleyball.  Maria is one of the funniest, smartest, most outgoing girls you will ever meet.  I feel comfortable talking to Maria about practically anything.  Maria also moved up to the Bay Area and It's always a blast hanging out with her. From playing volleyball to playing Le Resistance, it's always more fun with Maria around.  I don't know what I'd do without my Hibachi Girls.
      </p>
    </div>
  </div>
  <h3>Nancy Summersgill</h3><br>
  <div class="party-sections">
    <div class="party-text fl-lf">
      <p>
        I've known Nancy since I moved to San Francisco and joined the JCCCNC volleyball league.  We became fast friends through our passion for volleyball, cats and eggettes!  Nancy is one of the nicest, most loyal friends I've ever had.  She is the type of girl who will always have your back.  I'm glad that she has mine.
      </p>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "nancy.jpg", {class: "polaroid-picture"} %>
            Nancy Summersgill
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "nancy_helen.jpg", {class: "polaroid-picture"} %>
            iBoss
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Groomsmen</h2>
  <h3>Jonathan Hau - Best Man</h3><br>
  <div class="party-sections">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "jon.jpg", {class: "polaroid-picture"} %>
            Jonathan Hau
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "jon_lawrence.jpg", {class: "polaroid-picture"} %>
            Jon Brown Hau
          </div>
        </div>
      </div>
    </div>
    <div class="party-text fl-lf">
      <p>
        Jonathan has been my friend since kindergarten and we were together all the way through high school.  We did anything and everything together, whether it was playing legos, nintendo or when we started swim team together.  Jon has been much more than a friend to me, he is my brother.  Jon has supported me and been there for the highest and lowest points of my life.  I couldn't imagine having a better friend or best man.
      </p>
    </div>
  </div>
  <h3>Mark Noce</h3><br>
  <div class="party-sections">
    <div class="party-text fl-lf">
      <p>
        Mark and I have been friends since the 1st grade and has always been one of the most trustworthy and genuinely nice people I have ever known.  My own vivid imagination grew in large part because Mark's ran wild.  When we were kids we found ourselves fighting invisible armies or exploring new worlds.  Mark is always there for me and I'm glad he's here for me as a groomsman and friend.
      </p>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "mark.jpg", {class: "polaroid-picture"} %>
            Mark Noce
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "mark_lawrence.jpg", {class: "polaroid-picture"} %>
            Han
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Tony Saric</h3><br>
  <div class="party-sections">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "tony.jpg", {class: "polaroid-picture"} %>
            Tony Saric
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "tony_lawrence.jpg", {class: "polaroid-picture"} %>
            Schmeeegel
          </div>
        </div>
      </div>
    </div>
    <div class="party-text fl-lf">
      <p>
        Tony is one of the funniest and by far the most charming person I know.  I've met Tony in the 1st grade just like Mark, and it's been nothing but fun times with him since then.  He can put a smile on my face at will.  Other than that Tony is one of the most caring people and also has turned out to be one of the best dads too as he now has two beautiful daughters.
      </p>
    </div>
  </div>
  <h3>Michael Micheletti</h3><br>
  <div class="party-sections">
    <div class="party-text fl-lf">
      <p>
        Mike and I have been friends since the 2nd grade and although he ended up going to a different high school than the rest of the guys, we always kept in touch with Mike and I've never felt like we missed a beat.  Besides being the Stanford genius, Mike is also one of the most thoughtful and insightful people I know and I'm so lucky to have him with me on my special day.
      </p>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "mike.jpg", {class: "polaroid-picture"} %>
            Michael Micheletti
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "mike_lawrence.jpg", {class: "polaroid-picture"} %>
            Obi-Wan
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Eric Lau</h3><br>
  <div class="party-sections">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "eric.jpg", {class: "polaroid-picture"} %>
            Eric Lau
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "eric_lawrence.jpg", {class: "polaroid-picture"} %>
            Officer Lau
          </div>
        </div>
      </div>
    </div>
    <div class="party-text fl-lf">
      <p>
        Eric and I met in high school on the water polo team.  Turns out he actually was friends with Mike before he transferred to my high school!  Eric is a fiercely loyal friend who has always supported me through thick and thin.  These days he acts as my driving range buddy, gym partner and confidant.  I'm very thankful to have at least 1 member of the SFPD on my side!
      </p>
    </div>
  </div>
  <h3>David Sanchez</h3><br>
  <div class="party-sections">
    <div class="party-text fl-lf">
      <p>
        David was my random roomate pairing when I moved into the dorms in the University of Arizona.  To this day I'm forever thankful for this "random" pair.  Dave was more than just my best friend in college, he taught me about humility, patience and ultimately about God.  My own spiritual path started with conversations I had with Dave and I continue to lean on him in times of need.  He's been a friend and brother to me and I'm so happy for what he's accomplished and that he's soon to be a new dad!
      </p>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "dave.jpg", {class: "polaroid-picture"} %>
            David Sanchez
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "dave_lawrence.jpg", {class: "polaroid-picture"} %>
            Wutah!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>