<audio autoplay>
    <source src="https://cf-media.sndcdn.com/YJaWjEQmzmcq.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vWUphV2pFUW16bWNxLjEyOC5tcDMiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE0Mjc2OTU4NDF9fX1dfQ__&Signature=YuDKfeNWoCjsXyROmFShqm4mqcERExKbudPhdFw58RXwp2-Ec0cJlx7PCJOzunIWzqTUVdLDjchNvVEfM5lQeo-yGvrc7vM1xHopn6jxaXK5VOQFqGPyba2IZYYvv~77YuMOsC6j~VZJ6F8FBpCJZrOmOkgxlo43MqiI6QYSYMg4L1pch5L2FdbwGu4qmmSkcKguUN5M5yAeu4oAmhwlXTYNfavu1JzKIuXglZR8ymsfCmfPI9pCn6-ykE8pisUsGD8k6CRNEQQHBE9~kXIeL33qrZAT3oJstbaYzS7v7kxALLEc2IDRRDeGUTZBs4uF8BtgIdL9o~S2iIHFfRawLw__&Key-Pair-Id=APKAJAGZ7VMH2PFPW6UQ">
    Your browser does not support the audio element.
</audio>
<div class="ground">
  <div class="mobile-background">
  <a href="#welcome"><div class="intro-section cursive intro" id="text">
  </div></a>

  <div class="welcome-bottom regular" id="front">
    <div class="flip-container welcome-photos" id="welcome" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "disneyland.jpg", {class: "polaroid-picture"} %>
            Happiest Place on Earth...
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "chicago.jpg", {class: "polaroid-picture"} %>
            Rawr!
          </div>
        </div>
      </div>
    </div>
    <div class="flip-container welcome-photos" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "bubbles.jpg", {class: "polaroid-picture"} %>
            Bubbles!
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "LH.jpg", {class: "polaroid-picture"} %>
            Lawrence + Helen
          </div>
        </div>
      </div>
    </div>
    <div class="flip-container welcome-photos" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "christmas.jpg", {class: "polaroid-picture"} %>
            Christmas with Penny
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "giants_game.jpg", {class: "polaroid-picture"} %>
            Go Giants!
          </div>
        </div>
      </div>
    </div>
    <div class="flip-container welcome-photos" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "engaged.jpg", {class: "polaroid-picture"} %>
            Penny and the Ring!
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "SFHeart.jpg", {class: "polaroid-picture"} %>
            Welcome to San Francisco!
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-message">
      <h1 class="cursive">Welcome!</h1>
      <p class="medium-large">
        Whether we see you on our special day or not, we want to extend a heartfelt thank you to all of you, our friends and family, for supporting us and loving us unconditionally.  We know that none of this is possible without you and we hope to see you all soon!
      </p><br>
      <p class="cursive large">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Lawrence & Helen
      </p>
      <br><br><br>
      <p id="footer">website design by lawrence ma</p>
    </div>
  </div>
  </div>
</div>
